* {
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #fffdf9;
    margin: 0px; 
    padding: 0px;
    font-family: 'Ovo', serif; 
    /* font-family: 'Montserrat', sans-serif; */
}

nav {
    width: 100%;
    background-color: #beebe9;
    height: 75px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.container h1, .container h2 {
    margin: 4% 20% 2%
}

.container p {
    margin: 2% 25% 2% 22%;
    line-height: 1.5em;
}

.container button {
    background:#beebe9;
    margin: 0.5% 33%;
    padding: 0 10px 0 10px;
    font-family: "Adobe Hebrew", Arial, serif;
    font-size: 20px;
    border-radius: .5em;
  }

.sticky-note {
    width: 400px;
    height: 350px;
    background-color: lightgoldenrodyellow;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-left: 22%;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
.sticky-note p {
    margin: 0% 25% 0% 22%;
}
.sticky-note input {
    height: 10%;
}

.sticky-note textarea {
    padding: 10px 5px;
    resize: none;
    height: 70%;
    line-height: 1.5em;
}

.sticky-note input, .sticky-note textarea {
    width: 80%;
    padding-left: 10px;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .container p {
      margin: 5% 5% 5% 10%;
    }
    .container h1, .container h2 {
      margin: 4% 20% 0;
    }
    .container button {
      margin: 5% 22% 5%
    }

    .sticky-note {
        width: 250px;
        height: 300px;
        margin-left: 12%;
    }
    nav {
        height: 100px;
    }
    nav ul{
        flex-direction: column;
        font-size: 20px;
  }
}

.row {
    display: flex; 
}

.center {
    justify-content: center;
    align-items: center;
}

.saved-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.saved-sticky-note {
    width: 300px;
    height: 250px;
    background-color: lightgoldenrodyellow;
    margin: 10px;
    font-size: 20px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.saved-sticky-note .row {
    justify-content: space-between;
    padding: 15px;
}

.saved-sticky-note .row p {
    margin: auto;
}

.saved-sticky-note .row i {
    cursor: pointer;
}

.saved-sticky-note .bottom {
    justify-content: center;
    align-items: center;
}

.saved-sticky-note .sticky-title {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}